export SIMPLE_UI_USERNAME='admin'
export SIMPLE_UI_PASSWORD='replace-with-your-password'
export SIMPLE_UI_SESSION_SECRET='replace-with-a-random-secret'
export SIMPLE_UI_PORT='4040'
export SIMPLE_UI_DEMO_MODE='0'
export SIMPLE_UI_MAX_CHART_PAGES='200'
export LITELLM_GATEWAY_URL='http://127.0.0.1:4000'
export LITELLM_MASTER_KEY='sk-replace-with-your-master-key'
